<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" /><meta http-equiv="Expires" content="0"/>
<title>Yamura Pyrometer Setup</title>
<link rel="icon" href="data:,">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="content">
<div class="card-grid">
<div class="card">
<form action="/" method="POST">
<p>
<div>
<h3>Pyrometer Settings</h3>
</div>
</p>
<p>
<div class="dinput" v-if="activeStage == 3">
<label for="ssid_id">SSID</label>
<div><input type="text" id ="ssid_id" name="ssid_id" value = "Yamura-Pyrometer"><br>
</div>
</p>
<p>
<div class="dinput" v-if="activeStage == 3">
<label for="pass_id">Password</label>
<div><input type="text" id ="pass_id" name="pass_id" value = "ZoeyDora48375"><br>
</div>
</p>
<p>
<div class="dinput" v-if="activeStage == 3">
<label for="units_id">Temperature Units (F)</label>
<div><select id ="units_id" name="units_id"><br>
<option>F</option>
<option>F</option>
<option>C</option>
</select>
</div>
</p>
<p>
<div class="dinput" v-if="activeStage == 3">
<label for="orientation_id">Screen Orientation (R)</label>
<div><select id ="orientation_id" name="orientation_id"><br>
<option>R</option>
<option>R</option>
<option>L</option>
</select>
</div>
</p>
<p>
<div class="dinput" v-if="activeStage == 3">
 <label for="bandwidth_id">Temperature Stable Bandwidth</label>
<div><input type="text" id ="bandwidth_id" name="bandwidth_id" value = "0.000000"><br>
</div>
</p>
<p>
<div class="dinput" v-if="activeStage == 3">
 <label for="stablebuffer_id">Temperature buffer</label>
<div><input type="text" id ="stablebuffer_id" name="stablebuffer_id" value = "12"><br>
</div>
</p>
<p>
<div class="dinput" v-if="activeStage == 3">
 <label for="stabledelay_id">Temperature Stable Delay (ms)</label>
<div><input type="text" id ="stabledelay_id" name="stabledelay_id" value = "1"><br>
</div>
</p>
<p>
<div class="dinput" v-if="activeStage == 3">
<label for="clock_id">Clock (24)</label>
<div><select id ="clock_id" name="clock_id"><br>
<option>24</option>
<option>12</option>
<option>24</option>
</select>
</div>
</p>
<p>
<div class="dinput" v-if="activeStage == 3">
<label for="fontsize_id">Font Size (0)</label>
<div><select id ="fontsize_id" name="fontsize_id"><br>
<option>0</option>
<option>9</option>
<option>12</option>
<option>18</option>
<option>24</option>
</select>
</div>
</p>
<p>
<div>
<h3>Actions</h3>
</div>
<button name="update" type ="submit" value ="update">Update</button>
<button><a href="py_main.html">Home</a></button>
</p>
</form>
</div>
</div>
</div>
</div>
</body>
</html>
